body {
    background: #fff;
}

.bkg {
    height: 370px;
    width: 100%;
    position: sticky;
    background-color: #E9EDEE;
    background-size: cover;
    background-position: center 1000px;
}

.main-container {
    margin-left: 200px;
    margin-right: 200px;
}

#hero {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#hero-left {
    width: 1200px;
}

#hero-right {
    float: right;
}

#hero-header {
    color: #141F19;
    margin-bottom: 50px;
    font-size: 44px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1.2px;
}

#sub-head {
    margin-top: 30px;
    color: #131E18;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.25px;
}

.sub-content {
    width: 100%;
    justify-content: space-around;
    align-items: left;
    display: flex;
    flex-direction: row;
}

.sub-container {
    width: 450px;
    height: 200px; /* Set a fixed height for consistency */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #131E18;
    background: #FFF;
    box-shadow: 8px 15px 6px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden; /* Add overflow: hidden to clip the image within the container */
}

.sub-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-content-box {
    width: 450px;
    height: 200px; /* Set a fixed height for consistency */
    margin-bottom: 20px;
    padding-bottom: 100px;
    text-align: left;
    border-radius: 8px;
    border: 1px solid #131E18;
    background: #FFF;
    box-shadow: 8px 15px 6px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden; /* Add overflow: hidden to clip the image within the container */
}

.sub-content-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-left,
.sub-right {
    width: 100%;
}

.sub-des {
    margin-top: 0px;
    color: #131E18;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    padding-left: 20px;
}

.sub-header {
    color: #3F4138;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-left: 20px;
}

.dividerL {
    width: 1710px;
    height: 1px;
}

.content-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header {
    color: #141F19;
    font-size: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.2px;
    margin-top: 60px;
}

.content-column {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 42px;
}

#text-l-marg {
    margin-right: 50px;
}

@media (min-width: 1401px) and (max-width: 1550px) {
    #hero-header {
        width: 500px;
    }
}

@media screen and (max-width: 1400px) {
    .bkg {
        height: 465px;
    }

    .main-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    #hero {
        flex-direction: column;
    }

    #hero-header {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 30px;
        line-height: 40px;
    }


    #hero-left,
    #hero-right {
        width: 100%;
    }

    .sub-content {
        flex-direction: column;
    }

    #sub-head {
        margin-left: 0;
        margin-top: 10;
    }

    .sub-container,
    .sub-content-box {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: left;
        border-radius: 8px;
        border: 1px solid #131E18;
        background: #FFF;
        box-shadow: 8px 15px 6px 0px rgba(0, 0, 0, 0.10);
        overflow: hidden; /* Add overflow: hidden to clip the image within the container */
    }

    .sub-content-box {
        margin-right: 80px;

    }

    .dividerL {
        width: 100%;
        margin-top: 20px;
    }

    .content-header {
        font-size: 18px;
        line-height: 25px;
    }


}