body {
    background: #fff;
}

.bkg{
    height: 300px;
    width: 100%;
    position: sticky;
    background-color: #E0EBE5;
    background-size: cover; /* Adjust as needed */
    background-position: center 1000px;

}

.main-container {

    margin-left: 200px;
    margin-right:200px;

}

#hero {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#hero-left {
    width: 1200px;
}

#hero-right {
    float: right;
}

#hero-header {

    color: #141F19;
    margin-bottom: 50px;
    font-size: 38px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 116.667% */
    letter-spacing: 1.2px;

}

#sub-head {
    margin-top: 30px;

    color: #131E18;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
}

.sub-content {
    width: 100%;
    justify-content: space-around;
    align-items: center; /* Add this line to center the children vertically */
    display: flex;
    flex-direction: row;


}

#sub-left {
    float: left;
    width: 450px;
    height: 160px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: 1px solid #131E18;
    background: #FFF;
    box-shadow: 8px 15px 6px 0px rgba(0, 0, 0, 0.10);
}

#sub-right {
    float: left;
    width: 450px;
    height: 160px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: 1px solid #131E18;
    background: #FFF;
    box-shadow: 8px 15px 6px 0px rgba(0, 0, 0, 0.10);
}

.sub-header {
    color: #3F4138;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.dividerL {
    margin-top: 200px;
    width: 1500px;
}

@media (min-width: 1401px) and (max-width: 1550px) {
            
        #hero-header {

        width: 500px;

        }

        #sub-head {

        }
}


/* Media query for smaller screens, e.g., tablets or mobile */
@media screen and (max-width: 1400px) {
    .main-container {

        margin-left: 40px;
        margin-right: 40px;
    
    }
    
    #hero {
        flex-direction: column;
        
    }

    #hero-header {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #hero-left,
    #hero-right {
        width: 100%;


    }
    
    .sub-content {
        flex-direction: column;
    }

    #sub-head {
        margin-left: 0;
        margin-top: 10;
    }

    #sub-left,
    #sub-right {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        padding-left: 20px;
        text-align: center; /* Center the content */
    }

    #sub-left {
        top: 0;
    }

    #sub-right {
        top: 0;
    }

    .dividerL {
        width: 100%;
        margin-top: 20px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1020px) {
    /* Add your desktop-specific styles here if needed */
}