

.content-container {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    width: 100%;
    border-style: dashed;
}


.login-form {
    justify-content: space-between;
    padding: 10px;
    
}


.login-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}

.login-form button {
    width: 910px;
    margin-top: 20px;
    height: 40px;
    letter-spacing: 2px;
    background: #131E18;
    padding: 10px 22px;
    border-radius: 29.5px;
    text-transform: uppercase;
    color: white;
    font-family: Inter;
}

.login-form button:hover {
    color: E0EBE5;
    background: #FF7455;
}

@media screen and (max-width: 920px) {

    .content-container {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    
    }
    

    .login-form button {
        width: 360px;
    }
}

/* check */