

.content-container {
    display: flex;
    flex-direction: row;
    padding: 17px 200px 17px 200px;
    border-style: dashed;
    width: 100%;
}

#right-content {
    justify-content: space-between;
    align-items: center;
    border-style: dashed;

}

#left-login-form {
    justify-content: space-between;
    align-items: center;
    border-style: dashed;

}

@media screen and (max-width: 920px) {
    .content-container {
        flex-direction: column;
        width: 100%;
    }

    .left-content {
        width: 100%;
        align-items: center;
        padding: 0px;
    }

    .right-login-form {
        width: 100%;
    }
}

/* check */