.reqAccess-container {

    width: 100%;


}

.reqDiv {
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;

}

.first-name, .last-name {
    width: 50%;
}



.flex-container {
    width: 100%;
    
}

.flex-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex-container input {
    width: 100%;
    
}

.flex-container button {
    margin-top: 20px;
    height: 40px;
    letter-spacing: 2px;
    background: #131E18;
    padding: 10px 22px;
    border-radius: 29.5px;
    text-transform: uppercase;
    color: white;
    font-family: Inter;
}

.flex-container button:hover {
    color: E0EBE5;
    background: #FF7455;
}

.email-input, .password-input, .usert-input, .btn-input {
    width: 100%;
    height: 40px;
    border-radius: 29.5px;
}

.usert-input option {
    width: 100%;
}


/* Set width for first name and last name input fields */
.flex-container .first-name input,
.flex-container .last-name input {
    width: 60%;
    height: 40px;
    border-radius: 29.5px;
}


/* Media Query for screens smaller than 600px (adjust as needed) */
@media only screen and (max-width: 600px) {
    .reqAccess-container {
        justify-content: space-around;

    }

    .first-name, .last-name {
        width: 100%;
    }

    .reqDiv {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;

    }
    

    .first-name input,
    .last-name input {
        width: 80px;
    }

    .email-input,
    .password-input {
        width: 400px;
    }

    .email-input, .password-input, .usert-input, .btn-input {

        height: 40px;
        width: 400px;
        border-radius: 29.5px;
    }
}
