/* Header and Navigation Styles */

/* Navigation Container */
.nav-container {
  position: sticky;
  font-size: 14px;
  background-color: #E0EBE5;
  z-index: 1000; /* Set a higher z-index value */
}

/* Navbar Styles */
.navbar {
  justify-content: space-between;
  padding: 17px 200px 17px 200px;
  align-items: center;
  background-color: #E0EBE5;
}

/* Update Bar Styles */
.update-bar {
  display: flex;
  padding: 12px 200px 12px 200px;
  background-color: #FF7455;
  font-size: 16px;
}

.update-bar:hover {
  display: flex;
  background-color: #A0695C;
}

/* Logo Styles */
.logo-inter {
  color: #3F4138;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-spacing: -0.5ex;
}

/* Navbar Left and Right Styles */
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  justify-content: space-between;
}

/* Navbar Menu Styles */
#navbar-menu {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0px;
  justify-content: space-between;
  z-index: 1100; /* Set a higher z-index value */
}

#menuSPC {
  text-transform: uppercase;
  color: #3F4138;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin: 5px 40px 5px 10px;
}

#menuSPC:hover {
  color: #FF7455;
  font-weight: 1000;
}

/* Log-in Button Styles */
#log-in {
  text-transform: uppercase;
  color: #E0EBE5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  background: #131E18;
  padding: 10px 22px;
  border-radius: 29.5px;
}

#log-in:hover {
  color: E0EBE5;
  background: #FF7455;
}

/* Mobile Icon Styles */
#mobile i {
  color: #3F4138;
}

/* Media Query for Small Screens */
@media screen and (max-width: 920px) {
  /* Update Bar Styles for Small Screens */
  .update-bar {
    display: flex;
    padding: 10px 10px 10px 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 12px;
  }

  /* Navbar Styles for Small Screens */
  .navbar {
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    align-items: center;
    position: sticky;
    top: 37px;
    left: 0;
    right: 0;
    z-index: 100;
  }

  /* Navbar Menu Styles for Small Screens */
  #navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 69px;
    right: -330px;
    width: 300px;
    height: 100vh;
    background-color: #3F4138;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    z-index: 1100; /* Set a higher z-index value */
  }

  /* Logo Styles for Small Screens */
  .logo-inter {
    color: #3F4138;
    margin: 10px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    word-spacing: -0.5ex;
  }

  /* Navbar Menu Active Styles for Small Screens */
  #navbar-menu.active {
    right: 0px;
    width: 100%;
    height: 30%;
    align-items: left;
    font-size: 25px;
    
  }

  /* MenuSPC Styles for Small Screens */
  #menuSPC {
    text-transform: uppercase;
    color: white;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-left: 40px;
  }

  /* MenuSPC Hover Styles for Small Screens */
  #menuSPC:hover {
    color: #FF7455;
  }

  #log-in {
    margin-left: 48px;
  }

  /* Mobile Icon Display Styles for Small Screens */
  #mobile {
    display: block;
  }
}

/* Additional CSS to hide icons on desktop */
@media screen and (min-width: 920px) {
  #mobile i {
    display: none; /* Hide the icons within #mobile div on desktop devices */
  }
}
